.extra {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
}

.col {
    width: 50%;
}

.category {
    color:	#77a8a4;
    font-weight: 900;
}

@media (max-width: 768px) {
    .extra {
        display: block;
    }
    .col {
        width: 100%;
    }
}

.career {
    display: flex;
    margin-bottom: 1rem;
}

.etc {
    display: flex;
    flex-direction: row;
}